{% extends "planner/layout.html" %}

{% block body %}
<button id="add-event-btn" class="btn btn-primary">Add New Event</button>
<br><br>
<div class="add-event">
    <h3>Add a New Event:</h3>
    <form method="post">
        {% csrf_token %}
        <h4>Event Name:</h4>
        {{ form.event_name }}
        <br>
        <h4>Event Duration (Hours):</h4>
        {{ form.event_hours }}
        <br>
        <h4>Event Duration (Minutes):</h4>
        {{ form.event_minutes }}
        <br>
        <h4>Event Color (for distinction):</h4>
        {{ form.event_color }}
        <br>
        <input type="submit" class="btn btn-primary" value="Add Event">
    </form>
</div>

<h2>All Events:</h2>
{% if error_msg %}
    <h4 class="error_msg">{{ error_msg }}</h4>
{% endif %}

{% if events %}
    <h4>Order by:</h4>
    <select style="border-radius:5px" id="order-events">
        <option selected value="asc">Alphabetical</option>
        <option value="color">Color</option>
        <option value="duration">Duration</option>
    </select>
    <br><br>
{% endif %}

<div class="all-events">
    {% for event in events %}
        <div id="display-event-container-{{ event.id }}" class="event" style="background-color: {{ event.event_color }}; border: 1px solid {{ event.event_color }}">
            <div id="event-info-{{ event.id }}">
                <p class="edit-event-btn" style="float:right;color:blue" data-event="{{ event.id }}">Edit</p>
                <p class="delete-event-btn" style="float:right;color:blue" data-event="{{ event.id }}">Delete&nbsp;&nbsp;</p>
                <h4 id="display-event-name-{{ event.id }}" style="display: inline;">{{ event.event_name }}</h4>
                <p id="display-event-duration-{{ event.id }}">Duration: {{ event.event_default_time }}</p>
            </div>
            <div id="event-edit-{{ event.id }}" style="display: none;">
                <form method="post" id="edit-event-form-{{ event.id }}">
                    <h4 id="event-error-{{ event.id }}" class="error_msg"></h4>
                    <h4>Event Name:</h4>
                    <input class="form-control" id="event-name-{{ event.id }}" type="text" value="{{ event.event_name }}">
                    <br>
                    <h4>Event Duration:</h4>
                    <input class="form-control" id="event-duration-{{ event.id }}" type="text" value="{{ event.event_default_time }}">
                    <br>
                    <h4>Event Color:</h4>
                    <select class="form-control" id="event-color-{{ event.id }}">
                        <option value="" selected>Event color:</option>
                        {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Save Event">
                </form>
            </div>
        </div>
    {% empty %}
        <h4>You have not created any events yet!</h4>
    {% endfor %}
</div>

{% endblock %}