{% extends "planner/layout.html" %}

{% block body %}
<button id="add-event-btn" class="btn btn-primary">Add New Event</button>
<br><br>
<div class="add-event">
    <h3>Add a New Event:</h3>
    <form method="post">
        {% csrf_token %}
        <h4>Event Name:</h4>
        {{ form.event_name }}
        <br>
        <h4>Event Duration (Hours):</h4>
        {{ form.event_hours }}
        <br>
        <h4>Event Duration (Minutes):</h4>
        {{ form.event_minutes }}
        <br>
        <h4>Event Duration (Seconds):</h4>
        {{ form.event_seconds }}
        <br>
        <h4>Event Color (for distinction):</h4>
        {% for color in form.event_color %}
        <div class="color-option">
            {{ color }}
        </div>
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary" value="Add Event">
    </form>
</div>

<h2>All Events:</h2>

{% if events %}
    <h4>Order by:</h4>
    <select style="border-radius:5px" id="order-events">
        <option selected value="asc">Alphabetical</option>
        <option value="color">Color</option>
        <option value="duration">Duration</option>
    </select>
    <br><br>
{% endif %}

<div class="all-events">
    {% for event in events %}
        <div class="event" style="background-color: {{ event.event_color }}; border: 1px solid {{ event.event_color }}">
            <h4>{{ event.event_name }}</h4>
            <p>Duration: {{ event.event_default_time }}</p>
        </div>
    {% empty %}
        <h4>You have not created any events yet!</h4>
    {% endfor %}
</div>

{% endblock %}