{% extends "planner/layout.html" %}

{% block body %}
<div id="month-selector">
      <h4 id="previous-month">&#10094;</h4>
      <h4 id="next-month">&#10095;</h4>
      <h4 id="month">{{ current_month }}</h4>
      <h4 id="year">{{ current_year }}</h4>
</div>
  
  <ul class="week">
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
    <li>Sun</li>
  </ul>
  
  <ul class="days" id="days">
    {% for day in prev_month_days %}
      {% if current_month == 'January' %}
        <li data-date="{{ current_year|add:'-1' }}-12-{{ day }}">{{ day }}</li>
      {% else %}
        <li data-date="{{ current_year }}-{{ current_month_number|add:'-1' }}-{{ day }}">{{ day }}</li>
      {% endif %}
    {% endfor %}
    {% for i in "month_days"|rjust:day_amount %}
      <li id="li-{{ current_year }}-{{ current_month_number }}-{{ forloop.counter }}" data-date="{{ current_year }}-{{ current_month_number }}-{{ forloop.counter }}">
        <strong>{{ forloop.counter }}</strong>
        {% with counter=forloop.counter %}
          {% for event in events_on_days %}
            {% if event.day.day_date|date:"d"|add:"0" == counter %}
              <div id="event-{{ event.id }}" data-start_time = "{{ event.start_time|date:'H:i:s' }}" class="event-in-calendar div-{{ current_year }}-{{ current_month_number }}-{{ counter }}" style="background-color: {{ event.event.event_color }}; border: 1px solid {{ event.event.event_color }}">
                <p style="float:left; margin:auto">{{ event.start_time }}-{{ event.end_time }}</p>
                <p style="display:inline"><strong>{{ event.event.event_name }}</strong></p>  
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}